* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #eee;
    color: #333;
    font-size: 1.2rem;
}
.navbar{
    min-height: 70px;
    display: flex;
        justify-content: space-between;
    padding: 2rem;
}